Repository remvze/progress: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

feat: implement the main functionality
  public/fonts/crimson-text-v19-latin-italic.woff2
  public/fonts/crimson-text-v19-latin-regular.woff2
  public/fonts/lora-v35-latin-regular.woff2
  public/fonts/space-mono-v13-latin-700.woff2
  public/fonts/space-mono-v13-latin-regular.woff2
  src/components/app/app.module.css
  src/components/app/app.tsx
  src/components/container/container.module.css
  src/styles/base/base.css
  src/styles/fonts.css
  src/styles/variables/typography.css
Due: eslint --fix, stylelint --fix

feat: add hero
  public/fonts/instrument-serif-v4-latin-regular.woff2
  src/components/app/app.module.css
  src/components/hero.astro
  src/pages/index.astro
  src/styles/fonts.css
  src/styles/variables/typography.css
Due: eslint --fix, stylelint --fix

feat: add hero
  src/components/hero.astro
Due: eslint --fix, stylelint --fix

feat: add note section
  src/components/container/container.module.css
  src/components/hero.astro
  src/components/note.astro
  src/pages/index.astro
Due: eslint --fix, stylelint --fix

style: better style the form
  src/components/app/app.module.css
  src/components/app/app.tsx
Due: eslint --fix, stylelint --fix

feat: add reset feature
  src/components/app/app.module.css
  src/components/app/app.tsx
  src/hooks/use-local-storage.ts
Due: eslint --fix, stylelint --fix

chore: change logo
  public/favicon.svg
  public/logo.svg
  public/og.png
Due: none

feat: rename the project
  .github/workflows/build_docker.yml
  README.md
  astro.config.mjs
  docker-compose.yml
  package-lock.json
  package.json
  public/robots.txt
  src/components/app/app.tsx
  src/components/hero.astro
  src/components/note.astro
  src/layouts/layout.astro
Due: eslint --fix, prettier --write, stylelint --fix

fix: github repo
  src/components/note.astro
Due: eslint --fix, stylelint --fix

feat: completely change the progress calculation
  src/components/app/app.module.css
  src/components/app/app.tsx
  src/components/note.astro
Due: eslint --fix, stylelint --fix

feat: make progress bar random
  src/components/app/app.module.css
  src/components/app/app.tsx
Due: eslint --fix, stylelint --fix

chore: update domain
  README.md
  astro.config.mjs
  public/robots.txt
  src/layouts/layout.astro
Due: eslint --fix, prettier --write, stylelint --fix

Path conditions:
  eslint --fix: (any of: *.{ts,tsx,js,jsx}) or (any of: *.astro)
  prettier --write: (any of: *.{json,md}) or (any of: *.html)
  stylelint --fix: ((any of: *.css) or (any of: *.astro)) or (any of: *.html)
